{% block head %}

<title>Currency_converter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<center>
<div class="content">
    <h1 style="text-align: center">Currency Converter</h1>

    <div class="form">
        <form action="/calculate" method="POST">
            <label for="from_currency">From : </label>

<select id="from_currency" name="from_currency" >
  <option hidden> </option>
  <option value="USD">USD</option>
  <option value="EUR">EUR</option>
  <option value="GBP">GBP</option>
  <option value="INR">INR</option>
</select>

        <p> <label for="to_currency">To : </label>
<select id="to_currency" name="to_currency" >
   <option hidden> </option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select></p>
<p class="big">
            <label for="num1">Enter Amount</label>
            <input type="text" name="num1" id="num1"><br>
           
           <p class="big"> <input type="submit" value="Calculate"></p>
        </form>
    </p>
    </div>
</div>
</center>
{% endblock %}